---
volumes:
  caddy-data:
  caddy-config:
  calendar-database:
    external: true


services:
  caddy:
    image: caddy@sha256:9e95012adcbbd599f853cb315b986781845c238f9e52aa3652798758cca01422
    restart: unless-stopped
    ports:
      - 80:80/tcp
      - 443:443/tcp
    env_file:
      - .env
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config

  calendar:
    image: ghcr.io/mgnsk/calendar:edge
    command: /bin/calendar
    container_name: calendar
    restart: unless-stopped
    environment:
      - LISTEN_ADDR=:8080
      - DATABASE_DIR=/database
    env_file:
      - .env
    volumes:
      - calendar-database:/database
