---
volumes:
  caddy-data:
  caddy-config:
  calendar-database:
    external: true


services:
  caddy:
    image: caddy@sha256:cef7fe17d4df3b0843eae25bed319d6140b1a7bb13ccef076f5f1783d5bca9b1
    restart: unless-stopped
    ports:
      - 80:80/tcp
      - 443:443/tcp
    env_file:
      - .env
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config

  calendar:
    image: ghcr.io/mgnsk/calendar:edge
    command: /bin/calendar
    container_name: calendar
    restart: unless-stopped
    environment:
      - LISTEN_ADDR=:8080
      - DATABASE_DIR=/database
    env_file:
      - .env
    volumes:
      - calendar-database:/database
