---
volumes:
  go-packages:
  go-cache:
  npm-cache:
  caddy-data:
  caddy-config:
  calendar-database:


services:
  caddy:
    image: caddy@sha256:cef7fe17d4df3b0843eae25bed319d6140b1a7bb13ccef076f5f1783d5bca9b1
    restart: unless-stopped
    ports:
      - 80:80/tcp
      - 443:443/tcp
    env_file:
      - .env.example
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config

  sandbox:
    hostname: calendar
    image: calendar-sandbox
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        - uid
        - gid
    init: true
    stdin_open: true
    tty: true
    environment:
      - LISTEN_ADDR=:8080
      - DATABASE_DIR=/database
    env_file:
      - .env.example
    volumes:
      - ./:/application
      - npm-cache:/home/node/.npm
      - go-packages:/go
      - go-cache:/go-cache
      - calendar-database:/database
