[Unit]
Description=mgnsk/calendar service
PartOf=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/mgnsk/calendar

; TODO
; ExecStartPre=/usr/bin/docker compose pull

; Required for cleaning up after a hard system reset.
ExecStartPre=/usr/bin/docker compose down

ExecStart=/usr/bin/docker compose up --remove-orphans

ExecStop=/usr/bin/docker compose down

Restart=on-failure
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
