---
name: Lint code

on:
  push:
    branches-ignore:
      - main

permissions:
  # Default permissions (matching what would be set if the permissions section was missing at all)
  contents: read
  packages: read

  # Need to add these 2 for eslint-annotate-action
  pull-requests: read
  checks: write

jobs:
  golint:
    name: Lint Go code
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run Revive Action
        uses: docker://morphy/revive-action@sha256:28eca8b53427f9f1b0c8d44236b057be4bf62c9118c98223285c0558192f0257
        with:
          config: revive.toml

  eslint:
    name: Lint Javascript code
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 23
          cache: 'npm'

      - name: Install modules
        run: npm ci
        env:
          CI: TRUE

      - name: Lint
        run: npm run lint

      - name: Save Code Linting Report JSON
        # npm script for ESLint
        # eslint --output-file eslint_report.json --format json src
        # See https://eslint.org/docs/user-guide/command-line-interface#options
        run: npm run lint:report
        # Continue to the next step even if this fails
        # continue-on-error: true

      - name: Annotate Code Linting Results
        uses: ataylorme/eslint-annotate-action@d57a1193d4c59cbfbf3f86c271f42612f9dbd9e9
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          report-json: "eslint_report.json"

      # OPTIONAL: save a copy of the usage report for download or use in another job
      # - name: Upload ESLint report
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: eslint_report.json
      #     path: eslint_report.json
      #     retention-days: 5
